body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1;
}
.custom-header {
    background-color: #4ECDC4;
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}