body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex: 1;
  }
  .custom-header {
    background-color: #4ECDC4;
    margin-bottom: 1rem;
  }
  .back-arrow {
    color: #4ECDC4;
    font-size: 1.5rem;
    transition: transform 0.2s ease;
    margin-right: 1rem;
  }
  .back-arrow:hover {
    transform: translateX(-5px);
  }
  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }